<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
       <h1>FCC Backend Challenges</h1>
       <h2>Challenge 03:URL Shortener Service</h2>
       <h3>User stories:</h3>
         <ul>1. I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</ul>
         <ul>2. When I visit that shortened URL, it will redirect me to my original link</ul>
  
         <h3>Example Links:</h3>
         <p>
           <code><a href="https://fccurlshortener.glitch.me/https://www.google.ca" target="_blank">https://fcctimestampmicroservice.glitch.me/December%2015,%202015</a></code><br/>
           <code><a href="https://fcctimestampmicroservice.glitch.me/1450137600" target="_blank">https://fcctimestampmicroservice.glitch.me/1450137600</a></code><br/>
           <code><a href="https://fcctimestampmicroservice.glitch.me/thisisnotadate" target="_blank">https://fcctimestampmicroservice.glitch.me/thisisnotadate</a></code>
        </p>
         <h3>Example output:</h3>
         <p><code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code></p>
      </div>
   </body>

</html>